/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  position: relative; /* so the Loading... element is positioned correctly */
}

#loading {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1040; /* 10 higher than the nav bar (1030) */
  display: none;
}

.container .text-muted {
  margin: 20px 0;
}

@media (min-width: 1200px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 450px;
  }
}
