<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title th:text="'beanlets'">beanlets</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <style type="text/css">
    .beanlet {
      border: 1px solid #2e6da4;
      padding: 5px;
      margin: 5px 0;
    }
    div.beanlet > .btn {
      float: right;
      margin-bottom: 10px;
    }
  </style>
  <script th:src="@{/js/jstz.min.js}"></script>
  <script>
    $(function(){
      $('button').click(function(){
        var timeZone = jstz.determine().name();
        var token = $("meta[name='_csrf']").attr("content");
        var id = $(this).addClass('btn-success').removeClass('btn-primary').attr('id');
        $.post("/countIt", {beanletId:id, _csrf:token, timeZone: timeZone})
          .done(function(data, textStatus, jqXHR){
            $('#last-' + id).text(data);
          })
          .fail(function(jqXHR, textStatus, errorThrown){
            console.log(jqXHR.responseText);
          });
      });
    });
  </script>
</head>
<body>
<div class="container" layout:fragment="content">
  <div class="beanlet" th:each="beanlet : ${beanlets}" th:id="${'div' + beanlet.id}">
    <button class="btn btn-primary" type="submit" th:text="'count it!'" th:id="${beanlet.id}">Button</button>
    <h3><a th:text="${beanlet.name}" th:href="@{|/beanlets/${beanlet.id}/beans|}">something</a></h3>
    Latest Bean: <span th:text="${{beanlet.dateLastLogged}}" th:id="|last-${beanlet.id}|">some date</span>
  </div>
</div>
</body>
</html>

