<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<ol th:fragment="list">
  <li class="beanlet clearfix new" th:each="beanlet : ${beanlets}" th:id="${beanlet.id}" th:attr="index=${beanletStat.index}">
    <a href="#" class="details-link">details</a>
    <a href="#" th:href="@{|/beanlets/${beanlet.id}/beans|}">
      <h3 class="beanlet-title" th:text="${beanlet.name}">something</h3>
      <div class="most-recent">Last: <span th:text="${{beanlet.dateLastLogged}}" th:id="|last-${beanlet.id}|">some date</span></div>
    </a>
  </li>
</ol>
</body>
</html>