<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout2::head(~{::title},~{::link})">
  <title>beanlets</title>
  <link rel="stylesheet" th:href="@{/css/beanlet.css}"/>
</head>
<body>

<nav th:replace="layout2::navbar"></nav>

<div class="container">
  <h4 style="margin-top: 0;" th:text="${beanlet.name}">Beanlet Name</h4>
  <div id="month-nav">
    <span id="label-month">November</span>&nbsp;<span id="label-year">2016</span>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
      <button id="cal-prev" type="button" class="btn btn-default">&lt;</button>
      <button id="cal-today" type="button" class="btn btn-default">today</button>
      <button id="cal-next" type="button" class="btn btn-default">&gt;</button>
    </div>
  </div>
  <table cellpadding="0" cellspacing="0" id="beans-table">
    <thead>
      <tr>
        <th title="Sun">Sun</th>
        <th title="Mon">Mon</th>
        <th title="Tue">Tue</th>
        <th title="Wed">Wed</th>
        <th title="Thu">Thu</th>
        <th title="Fri">Fri</th>
        <th title="Sat">Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="d0"></td>
        <td id="d1"></td>
        <td id="d2"></td>
        <td id="d3"></td>
        <td id="d4"></td>
        <td id="d5"></td>
        <td id="d6"></td>
      </tr>
      <tr>
        <td id="d7"></td>
        <td id="d8"></td>
        <td id="d9"></td>
        <td id="d10"></td>
        <td id="d11"></td>
        <td id="d12"></td>
        <td id="d13"></td>
      </tr>
      <tr>
        <td id="d14"></td>
        <td id="d15"></td>
        <td id="d16"></td>
        <td id="d17"></td>
        <td id="d18"></td>
        <td id="d19"></td>
        <td id="d20"></td>
      </tr>
      <tr>
        <td id="d21"></td>
        <td id="d22"></td>
        <td id="d23"></td>
        <td id="d24"></td>
        <td id="d25"></td>
        <td id="d26"></td>
        <td id="d27"></td>
      </tr>
      <tr>
        <td id="d28"></td>
        <td id="d29"></td>
        <td id="d30"></td>
        <td id="d31"></td>
        <td id="d32"></td>
        <td id="d33"></td>
        <td id="d34"></td>
      </tr>
    </tbody>
  </table>
</div>

<footer class="footer">
  <ul class="list-inline">
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-add"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-sort"><span class="glyphicon glyphicon-sort"></span></a>
    </li>
  </ul>
</footer>

<div th:include="layout2::scripts"></div>
<script th:src="@{/js/jstz.min.js}"></script>
<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/beanlet.js}"></script>

</body>
</html>
