<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout2::head(~{::title},~{::link})">
  <title>beanlet</title>
  <link rel="stylesheet" th:href="@{/css/beanlet.css}"/>
  <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}"/>
</head>
<body>

<nav th:replace="layout2::navbar"></nav>

<!-- bean modal -->
<div class="modal fade" id="modal-bean" tabindex="-1" role="dialog" aria-labelledby="beanModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="beanModalLabel">edit bean</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" name="date" class="form-control" id="bean-date" value="10/31/2016">
          </div>
          <select th:replace="~{date-controls::hour}"></select>
          <select th:replace="~{date-controls::minute}"></select>
          <select th:replace="~{date-controls::ampm}"></select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="float: left;">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4 style="margin-top: 0;" th:text="${beanlet.name}">Beanlet Name</h4>
  <input type="hidden" id="beanletId" th:value="${beanlet.id}"/>
  <div id="month-nav">
    <span id="label-month">November</span>&nbsp;<span id="label-year">2016</span>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
      <button id="cal-prev" type="button" class="btn btn-default">&lt;</button>
      <button id="cal-today" type="button" class="btn btn-default">today</button>
      <button id="cal-next" type="button" class="btn btn-default">&gt;</button>
    </div>
  </div>
  <table cellpadding="0" cellspacing="0" id="beans-table">
    <thead>
      <tr>
        <th title="Sun">Sun</th>
        <th title="Mon">Mon</th>
        <th title="Tue">Tue</th>
        <th title="Wed">Wed</th>
        <th title="Thu">Thu</th>
        <th title="Fri">Fri</th>
        <th title="Sat">Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr id="week0">
        <td id="d0"></td>
        <td id="d1"></td>
        <td id="d2"></td>
        <td id="d3"></td>
        <td id="d4"></td>
        <td id="d5"></td>
        <td id="d6"></td>
      </tr>
      <tr id="week1">
        <td id="d7"></td>
        <td id="d8"></td>
        <td id="d9"></td>
        <td id="d10"></td>
        <td id="d11"></td>
        <td id="d12"></td>
        <td id="d13"></td>
      </tr>
      <tr id="week2">
        <td id="d14"></td>
        <td id="d15"></td>
        <td id="d16"></td>
        <td id="d17"></td>
        <td id="d18"></td>
        <td id="d19"></td>
        <td id="d20"></td>
      </tr>
      <tr id="week3">
        <td id="d21"></td>
        <td id="d22"></td>
        <td id="d23"></td>
        <td id="d24"></td>
        <td id="d25"></td>
        <td id="d26"></td>
        <td id="d27"></td>
      </tr>
      <tr id="week4">
        <td id="d28"></td>
        <td id="d29"></td>
        <td id="d30"></td>
        <td id="d31"></td>
        <td id="d32"></td>
        <td id="d33"></td>
        <td id="d34"></td>
      </tr>
      <tr id="week5">
        <td id="d35"></td>
        <td id="d36"></td>
        <td id="d37"></td>
        <td id="d38"></td>
        <td id="d39"></td>
        <td id="d40"></td>
        <td id="d41"></td>
      </tr>
    </tbody>
  </table>
  <ul class="list-unstyled" id="beans">
  </ul>
</div>

<footer class="footer">
  <ul class="list-inline">
    <li>
      <a href="#" id="add-beanlet"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
<!--
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-bean"><span class="glyphicon glyphicon-sort"></span></a>
    </li>
-->
  </ul>
</footer>

<div th:include="layout2::scripts"></div>
<script th:src="@{/js/jstz.min.js}"></script>
<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/beanlet.js}"></script>

</body>
</html>
