<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout2::head(~{::title},~{::link})">
  <title>beanlets</title>
  <link rel="stylesheet" th:href="@{/css/beanlets.css}"/>
</head>
<body>

<!-- add beanlet modal -->
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-add-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-add-label">add beanlet</h4>
      </div>
      <div class="modal-body">
        <form onsubmit="beanlets.addBeanlet(); return false;">
          <div class="form-group">
            <label for="beanlet-name">Beanlet Name</label>
            <input type="text" class="form-control" id="beanlet-name" placeholder="example: exercise" autocomplete="off">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn-add-beanlet">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- sort modal -->
<div class="modal fade" id="modal-sort" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sortModalLabel">sort beanlets</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <button type="button" class="list-group-item" sort-by="name">name</button>
          <button type="button" class="list-group-item" sort-by="beans">beans</button>
          <button type="button" class="list-group-item" sort-by="added">added</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save</button>-->
      </div>
    </div>
  </div>
</div>

<nav th:replace="layout2::navbar"></nav>

<div class="container">
  <ul th:include="beanlet-items::list" class="list-unstyled" id="beanlets">
    <li>something</li>
  </ul>
</div>

<footer class="footer">
  <ul class="list-inline">
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-add"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-sort"><span class="glyphicon glyphicon-sort"></span></a>
    </li>
  </ul>
</footer>

<div th:include="layout2::scripts"></div>
<script th:src="@{/js/jstz.min.js}"></script>
<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/ajax.js}"></script>
<script th:src="@{/js/beanlets.js}"></script>

</body>
</html>
