<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout2::head(~{::title},~{::link})">
  <title>beanlets</title>
  <link rel="stylesheet" th:href="@{/css/beanlet.css}"/>
</head>
<body>

<nav th:replace="layout2::navbar"></nav>

<div class="container" style="position: relative; height: 400px;">
  <table cellpadding="0" cellspacing="0" class="mv-daynames-table" id="mvDaynamesTable">
    <tbody>
    <tr>
      <th class="mv-dayname" title="Sun">Sun</th>
      <th class="mv-dayname" title="Mon">Mon</th>
      <th class="mv-dayname" title="Tue">Tue</th>
      <th class="mv-dayname" title="Wed">Wed</th>
      <th class="mv-dayname" title="Thu">Thu</th>
      <th class="mv-dayname" title="Fri">Fri</th>
      <th class="mv-dayname" title="Sat">Sat</th>
    </tr>
    </tbody>
  </table>
  <div class="mv-event-container">
    <div class="month-row" style="top: 0%; height: 21%;">
      <table cellpadding="0" cellspacing="0" class="st-bg-table">
        <tbody>
        <tr>
          <td class="st-bg st-bg-fc">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="month-row" style="top: 20%; height: 21%;">
      <table cellpadding="0" cellspacing="0" class="st-bg-table">
        <tbody>
        <tr>
          <td class="st-bg st-bg-fc">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="month-row" style="top: 40%; height: 21%;">
      <table cellpadding="0" cellspacing="0" class="st-bg-table">
        <tbody>
        <tr>
          <td class="st-bg st-bg-fc">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="month-row" style="top: 60%; height: 21%;">
      <table cellpadding="0" cellspacing="0" class="st-bg-table">
        <tbody>
        <tr>
          <td class="st-bg st-bg-fc">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="month-row" style="top: 80%; height: 21%;">
      <table cellpadding="0" cellspacing="0" class="st-bg-table">
        <tbody>
        <tr>
          <td class="st-bg st-bg-fc">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
          <td class="st-bg">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <ul class="list-inline">
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-add"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#modal-sort"><span class="glyphicon glyphicon-sort"></span></a>
    </li>
  </ul>
</footer>

<div th:include="layout2::scripts"></div>
<script th:src="@{/js/jstz.min.js}"></script>
<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/beanlet.js}"></script>

</body>
</html>
