<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title th:text="'Users'">Sign in to Beanlet</title>
</head>
<body>
<div class="container" layout:fragment="content">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}">12345</td>
      <td th:text="${user.email}">foo@bar.com</td>
      <td th:text="${user.password}">kk37dujd</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>

